@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
    font-size: 62.5%;
    box-sizing: border-box;
}

.App {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
}
